.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-link{
  display: flex;
  text-decoration: none;
  color: #333333;
  margin: 10px;
}

.header-logo{
  display: flex;
  color: #93b2ff;
  text-align: center;
  flex-direction: column;
}
.header-links{
  display: flex;
  flex-direction: row;
}
